body {
    margin: 0;
    padding: auto;
    min-height: 100vh;
    background-color: aliceblue;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: sans-serif;
}



.botton {
    border-radius: 5px;
    background-color: aqua;
    
}
.gambar {
    height: 100px ;
    width: 120px ;

}

table {
    margin: 0 auto;
    background-color: orange;
    border: 2px solid black;
    border-collapse: collapse;
}

th, td{
    border: 2px solid black; /* Border pada setiap sel */
    padding: 0; /* Jarak di dalam sel */
    text-align: center; 
}