body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

.kalkulator {
    margin: 0 auto;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    display: grid;
    width: 350px;
    height: 500px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    background-color: black;
}

.hasil {
    font-size: 24px;
    padding: 10px;
    text-align: right;
    border-radius: 10px;
    background-color: green;
    grid-column: 1 / 5;
    height: 50px;
    color: white;
    border: none;
}

.clear, .rumus, .nomor, .sama-dengan {
    border-radius: 10px;
    font-size: 18px;
    padding: 20px;
    border: none;
    color: white;
    cursor: pointer;
}

.clear {
    background-color: red;
}

.rumus {
    background-color: rgb(0, 110, 255);
}

.nomor {
    background-color: white;
    color: black;
}

.sama-dengan {
    background-color: lightgreen;
    grid-column: 4 / 5;
    grid-row: 4 / 7;
}
